.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    flex-grow: 1;
}

.card-item {
    border: 3px solid black;
    margin-top: 2vh;
}