.navbar-wrapper {
    width: 87vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .links-wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .link-item {
    margin-left: 2.5vw;
  }

  .link-text {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
  